# Server
PORT=5000

# MySQL Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=@Moriarty123
DB_NAME=presensi_giat

# CDNKroombox
CDN_BASE_URL=https://api-cdn.kroombox.com
CDN_PROJECT_NAME=presensi
CDN_PROJECT_ID=isi_project_id_cdn_di_sini
CDN_API_KEY=isi_api_key_cdn_di_sini
CDN_JWT_TOKEN=isi_jwt_token_cdn_di_sini
